<% if(!showResult) { %>
<form id="length-form" action="/length" method="post">
  <div class="input-field">
    <label for="length-value">Enter the length to convert</label>
    <input
      type="text"
      id="length-value"
      name="value"
      placeholder="example => 50"
    />
  </div>
  <div class="input-field">
    <label for="length-from">Unit to convert from</label>
    <input
      type="text"
      id="length-from"
      name="from"
      placeholder="example => m"
    />
  </div>
  <div class="input-field">
    <label for="length-to">Unit to convert to</label>
    <input type="text" id="length-to" name="to" placeholder="example => cm" />
  </div>
  <button>Convert</button>
</form>
<% } else { %> <% if(error) { %>
<p class="error" role="alert"><%= error %></p>
<% }%>
<div class="result">
  <h3>Result of your calculation</h3>
  <p>
    <span><%= data.value %><%= data.from %></span>
    =
    <span><%= data.result %><%= data.to %></span>
  </p>
  <a href="/length" role="button">Reset</a>
</div>
<% } %>
